extends app.pug
block titulo
    title Cadastrar novo Cliente
    
block conteudo
    h1 Cadastrar novo Cliente
    form(action="/clients/", method="post")
        .mb-3
            label.form-label(for='name') Nome
            input#name.form-control(type='text' value='' required name='nome' placeholder='Digite o nome')
        .mb-3
            label.form-label(for='email') Email
            input#email.form-control(type='email' value='' required name='email' placeholder='Digite o email')
        button(type='submit' value='submit').btn.btn-success Enviar